[submodule "teb_local_planner"]
	path = teb_local_planner
	url = https://github.com/rst-tu-dortmund/teb_local_planner
[submodule "turtlebot3_simulations"]
	path = turtlebot3_simulations
	url = https://github.com/ROBOTIS-GIT/turtlebot3_simulations
[submodule "darknet_ros"]
	path = darknet_ros
	url = https://github.com/leggedrobotics/darknet_ros
